body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #fff;
}


.shadow-container {
    position: fixed;
    width: 350px;
    height: 250px;
    margin: 50px auto;
}

.box {
    position: absolute;
    width: 250px;
    height: 180px;
    background-color: white;
    border: 2px solid;
}

.layer-1 {
    top: 15px;
    left: 15px;
    border-color: #ff5252;
    z-index: 1;
}

.layer-2 {
    top: 10px;
    left: 10px;
    border-color: #ff9800;
    z-index: 2;
}

.layer-3 {
    top: 5px;
    left: 5px;
    border-color: #8bc34a;
    z-index: 3;
}

.layer-4 {
    top: 2px;
    left: 2px;
    border-color: #00bcd4;
    z-index: 4;
}

.main-box {
    top: 0;
    left: 0;
    border-color: #2196f3; 
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    text-align: center;
}