*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100 ;
}
.container{
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

.box{
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    
}

.box1{
    background-color: #0000ff;
    top: 0;
    left: 0;
    z-index: 1;
}

.box2{
    background-color: #ff0000;
    top: 30px;
    left: 30px;
    z-index: 2;
}
.box3{
    background-color: #dce746;
    top: 60px;
    left: 60px;
    z-index: 3;
}
.box4{
    background-color: #2b8a3e;
    top: 90px;
    left: 90px;
    z-index: 4;
}